h1,h2,p {
  text-align: center
}
img {
  align-items: center 
}
h2 {
  text-decoration: underline;
}
body {
  background-color: hotpink;
}
h2 {
  font-size: 150%; 
  color: red; 
  padding-left: 15px;
  }